<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.animelog.animelogserver.mapper.UserMapper">

    <insert id="insert" parameterType="com.animelog.animelogserver.entity.User" useGeneratedKeys="true" keyProperty="id">
        insert into sys_user (
            username, password, nickname, avatar_url, email, bio, role, status
        ) values (
            #{username}, #{password}, #{nickname}, #{avatarUrl}, #{email}, #{bio}, #{role}, #{status}
        )
    </insert>

    <update id="updateProfile" parameterType="com.animelog.animelogserver.entity.User">
        update sys_user
        set nickname = #{nickname},
            avatar_url = #{avatarUrl},
            email = #{email},
            bio = #{bio}
        where id = #{id}
    </update>

    <update id="updatePassword">
        update sys_user set password = #{password} where id = #{id}
    </update>

    <select id="selectById" resultType="com.animelog.animelogserver.entity.User">
        select * from sys_user where id = #{id}
    </select>

    <select id="selectByUsername" resultType="com.animelog.animelogserver.entity.User">
        select * from sys_user where username = #{username} limit 1
    </select>

</mapper>
